@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');
.footer {
    left: 0;
    font-size: 15px;
    bottom: 0;
    width: 100%;
    background: #3f51b5;;
    color: black;
    text-align: center;
}